In [1]:
cd ../src/

/Users/syed/Desktop/ideal-stock-portfolio/src

In [2]:
import sqlalchemy
import pandas as pd
import numpy as np
import yfinance as yf
import pandas_datareader as reader

from database_setup_class import Database
from portfolio_class import Portfolio
from assets_class import Asset

import statsmodels.api as sm
%load_ext autoreload
%autoreload 2

In [3]:
def yf_retrieve_data(ticker_list,date_range):
    data_frames = []
    for ticker in ticker_list:
        data = yf.download(ticker, start=date_range[0], end=date_range[1])
        data_frames.append(data)
    return data_frames

In [4]:
date_range = ['2010-01-01', '2022-01-19']
data = yf_retrieve_data(['^GSPC'], date_range)

[*********************100%***********************]  1 of 1 completed

In [5]:
market_data = data[0].reset_index()
market_data = market_data['Close'].pct_change().apply(lambda x: np.log(1+x)).dropna()

In [6]:
market_data.columns = ['^GSPC']
market_data

1       0.003111
2       0.000545
3       0.003993
4       0.002878
5       0.001745
          ...
3027    0.009118
3028    0.002814
3029   -0.014346
3030    0.000820
3031   -0.018559
Name: Close, Length: 3031, dtype: float64

In [7]:
dow_jones = Database('DJIA')
ticker_symbols = dow_jones.get_ticker_symbols()
stock_data = dow_jones.get_dataframe(date_range = date_range)

In [8]:
portfolio = Portfolio([Asset({"name": ticker, "data": stock_data[i] }) for i,ticker in enumerate(ticker_symbols[:4]) ])

In [9]:
portfolio.assets_daily_returns

            Date       MMM       AXP      AMGN      AAPL
1     2010-01-05 -0.006283 -0.002202 -0.008700  0.001727
2     2010-01-06  0.014082  0.016035 -0.007543 -0.016034
3     2010-01-07  0.000717  0.011741 -0.009199 -0.001850
4     2010-01-08  0.007022 -0.000715  0.008846  0.006626
5     2010-01-11 -0.004040 -0.011508  0.004394 -0.008861
...          ...       ...       ...       ...       ...
3027  2022-01-11  0.008811  0.009395  0.008687  0.016644
3028  2022-01-12  0.002455 -0.005202 -0.002672  0.002567
3029  2022-01-13  0.008878 -0.006786 -0.003934 -0.019211
3030  2022-01-14 -0.012675 -0.028624  0.019348  0.005098
3031  2022-01-18 -0.007977 -0.011948 -0.010872 -0.018780

[3031 rows x 5 columns]

# Regression Model

In [10]:
beta_assets = []
for col in portfolio.assets_daily_returns.iloc[:,1:]:
    covariance = portfolio.assets_daily_returns[col].cov(market_data)
    variance_market = market_data.var()
    beta_assets.append(covariance/variance_market)

In [11]:
beta_assets

[0.898005980596087, 1.2212884130856736, 0.8513185089441065, 1.0789273594661897]

In [12]:
X = market_data

stats_results = []
for col in portfolio.assets_daily_returns.iloc[:,1:]:
    
    y = portfolio.assets_daily_returns.iloc[:,1:][col]
    X_sm = sm.add_constant(X)
    model = sm.OLS(y, X_sm)
    results = model.fit()
    stats_results.append(results)

betas = [result.params['Close'] for result in stats_results]
betas

[0.8980059805960872, 1.2212884130856747, 0.8513185089441059, 1.07892735946619]

# Risk free rate

In [17]:
from datetime import datetime
# 10 YEAR RATE FOR Treasury Constant Maturity Rate

T_rate = pd.read_csv('../data/DGS10.csv')
def get_treasury_rate(T_rate, asset_date_list):
    count = 0
    ten_yr_rate = []
    for i in T_rate['DGS10']:
        if i =='.':
            da.append(T_rate['DATE'][count])
            T_rate['DGS10'][count] = T_rate['DGS10'][count-1]        
        else:
            T_rate['DGS10'][count] = float(T_rate['DGS10'][count])

        if T_rate['DATE'][count] in asset_date_list:
            ten_yr_rate.append(T_rate['DGS10'][count])
        count+=1
        
asset_date_list = portfolio.assets_daily_returns['Date'].tolist()

In [18]:
asset_frame["10_year_rate"] = ten_yr_rate

In [19]:
asset_frame

            Date       MMM       AXP      AMGN      AAPL  10_year_rate
1     2010-01-05 -0.006283 -0.002202 -0.008700  0.001727          3.77
2     2010-01-06  0.014082  0.016035 -0.007543 -0.016034          3.85
3     2010-01-07  0.000717  0.011741 -0.009199 -0.001850          3.85
4     2010-01-08  0.007022 -0.000715  0.008846  0.006626          3.83
5     2010-01-11 -0.004040 -0.011508  0.004394 -0.008861          3.85
...          ...       ...       ...       ...       ...           ...
3027  2022-01-11  0.008811  0.009395  0.008687  0.016644          1.75
3028  2022-01-12  0.002455 -0.005202 -0.002672  0.002567          1.74
3029  2022-01-13  0.008878 -0.006786 -0.003934 -0.019211          1.70
3030  2022-01-14 -0.012675 -0.028624  0.019348  0.005098          1.78
3031  2022-01-18 -0.007977 -0.011948 -0.010872 -0.018780          1.87

[3031 rows x 6 columns]